<article>
 	<h4>Autor: <%= author %></h4><br>
 	<img src="./images/photo.jpg"/>
 	<iframe width="210" height="157" src="https://www.youtube.com/embed/zKdxd718WXg" frameborder="0" allowfullscreen></iframe>
 </article>